{% extends 'base.html' %}
{% block content %}
    <!-- Edit review form -->
    <h2>Modifier la critique</h2>
    <form method="post" action="{% url 'edit_review' id=review.id %}" enctype="multipart/form-data">
        {% csrf_token %}
        {{ ticket_form.as_p }}
        {{ review_form.as_p }}
        {{ delete_form.as_p }}
        <button type="submit" name="edit_review">Enregistrer les modifications</button>
        <button type="submit" name="delete_review">Supprimer la review</button>
    </form>
{% endblock content %}
